*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}
body button,li{
    cursor: pointer;
}

/* Navbar Start */
.navbar {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.200);
    padding: 10px;
    /* position: fixed;
    width: 100%; */
}

.navbar-container {
    display: flex;
    justify-content: space-between; 
}

.navbar-logo img {
    width: 80px;
}

.navbar-links ul {
    display: flex;
    list-style-type: none;
    padding-top: 1.5rem;
}

.navbar-links ul li a,
.navbar-links ul li {
    padding: 7px;
    letter-spacing: 1px;
    color: #111;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 150px;
    border-radius: 10px;
    margin-top: 5px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.200);
}
.dropdown-content a:hover {
    background-color: #fde6b5;
    color: #111;
}
.dropdown-content a {
    padding: 15px;
    color: #000000;
    display: block;
    text-align: left;
    text-decoration: none;  
    background-color: #ffffff;
    margin-top: 7px;
}
.search-box {
    display: flex;
    align-items: center;
}

.search-box input {
    padding: 4px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-box .search-btn {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 3px;
}

.search-box .search-btn:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar-toggle,
.navbar-close {
    font-size: 30px;
    color: rgb(0, 0, 0);
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

.navbar-toggle {
    display: none;
}

.navbar-close {
    display: none;
}
/* Navbar End */


/* Banner Start */
.bg-img {
    background: linear-gradient(rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0.767)), url(/Images/about-inside.jpg);
    padding: 5rem; 
    background-size: cover;
}
.banner-container{
    display: flex;
    justify-content: space-around;
}
.banner-container h1{
    line-height: 40px;
    letter-spacing: 1px;
    font-size: 25px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 2rem;
}
/* Banner End */


/* Banner Start */
.bg-img-about{
    /* background: url(/Images/about/bg-about.png); */
    /* padding: 10rem;  */
    background-size: cover;
}
.about-head{
    text-align: center;
    margin-top: 2rem;
}
.about-container{
    margin-top: 4rem;
}
.about{
    padding: 2rem;
    /* background-color: #f8f8f8; */
}
.about img{
    border-radius: 6px;
}
.top-about{
    display: flex;
    justify-content: space-around;
}
.top-right-about{
    width: 50%;
}
.top-right-about{
    padding-left: 1rem;
}
.top-right-about h1{
    margin-bottom: 1rem;
}
.top-right-about h4{
    font-size: 20px;
    margin-bottom: 1rem;
}
.top-right-about p{
    font-size: 15px;
}

.bottom-about{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}
.bottom-left-about{
    width: 50%;
}
.bottom-about h1{
    margin-bottom: 1rem;
}
.bottom-about h4{
    font-size: 20px;
}
.bottom-about p{
    font-size: 15px;
}
/* Banner End */

/* Footer Start */
.footer{
    background-color: #ececec;
    padding: 2rem;
    color: #000000;
    margin-top: 1px;
}
.footer-container{
    display: flex;
    justify-content: space-around;
}
.company h3{
    margin-bottom: 1rem;
}
.footer-container ul li{
    list-style-type: none;
    margin-top: 1rem;
}
.newsletter h3{
    margin-bottom: 1rem;
}
.newsletter input{
    padding: 10px;
    border: none;
    border-radius: 7px 0 0 7px;
    border: 1px solid #adadad;
}
.newsletter button{
    padding: 10px;
    border: none;
    border-radius: 0 7px 7px 0;
    border: 1px solid #adadad;
}
.footer-container h3{
    font-size: 15px;
}
.footer-container ul li, p{
    font-size: 14px;
}
.footer-icons i{
    font-size: 20px;
    margin-top: 1.5rem;
    color: #000000;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}
/* Footer End */

.copyright{
    background-color: #ececec;
    padding: 1rem 1rem;
    text-align: center;
}