*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}
body button,li{
    cursor: pointer;
}

/* Navbar Start */
.navbar {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.200);
    padding: 10px;
    /* position: fixed;
    width: 100%; */
}

.navbar-container {
    display: flex;
    justify-content: space-between; 
}

.navbar-logo img {
    width: 80px;
}

.navbar-links ul {
    display: flex;
    list-style-type: none;
    padding-top: 1.5rem;
}

.navbar-links ul li a,
.navbar-links ul li {
    padding: 7px;
    letter-spacing: 1px;
    color: #111;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 250px;
    border-radius: 10px;
    margin-top: 5px;
    padding: 10px;
    z-index: 1;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.200);
}
.dropdown-content a:hover {
    background-color: #fde6b5;
    color: #111;
}
.dropdown-content a {
    padding: 15px;
    color: #000000;
    display: block;
    text-align: left;
    text-decoration: none;  
    background-color: #ffffff;
    margin-top: 7px;
}
.search-box {
    display: flex;
    align-items: center;
}

.search-box input {
    padding: 4px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-box .search-btn {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 3px;
}

.search-box .search-btn:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar-toggle,
.navbar-close {
    font-size: 30px;
    color: rgb(0, 0, 0);
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

.navbar-toggle {
    display: none;
}

.navbar-close {
    display: none;
}
/* Navbar End */


/* Banner Start */

.banner-container{
    display: flex;
    justify-content: space-around;
}
.banner-container h1{
    line-height: 40px;
    letter-spacing: 1px;
    font-size: 25px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 2rem;
}
/* Banner End */



/* Bredcrumbs Start */
.bredcrumbs{
    padding-top: 2rem;
    margin-left: 5rem;
    margin: auto;
    width: 40%;
}
.bredcrumbs-child{
    display: flex;
}
.bredcrumbs-child i,h5,span{
    margin-left: 1rem;
}
.bredcrumbs-child a{
    text-decoration: none;
    color: black;
}
.bredcrumbs hr{
    margin-top: 1rem;
    width: 95%;
    color: #646464;
}
/* Bredcrumbs End */




/* backend Start */
.backend-head{
    text-align: center;
    margin-top: 2rem;
}
.backend-container{
    margin-top: 4rem;
}
.backend{
    padding: 2rem;
    background-color: #f8f8f8;
}
.left-backend{
    width: 100%;
}
.left-backend img{
    border-radius: 6px;
    width: 90%;
}
.top-backend{
    display: flex;
    justify-content: space-around;
}
.right-backend{
    width: 100%;
}
.right-backend{
    padding-left: 1rem;
}
.right-backend h1{
    margin-bottom: 1rem;
}
.right-backend h4{
    font-size: 20px;
    margin-bottom: 1rem;
}
.right-backend p{
    font-size: 15px;
}
/* backend End */



/* Take Course Start */
.takecourse{
    padding: 2rem;
    background-color: #f3f3f3;
    margin-bottom: 2rem;
}
.takecourse h2{
    margin-bottom: 1rem;
    text-align: center;
}
.takecourse {
    text-align: center;
}
.takecourse-container{
    display: flex;
    justify-content: space-between;
}
.child-takecourse{
    margin-top: 2rem;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 10px;
}
.child-takecourse i{
    color: #ff8800;
    font-size: 20px;
    border: 1px solid #ff8800;
    border-radius: 50%;
    padding: 8px;
}
.takecourse-button{
    margin-top: 3rem;
}
.takecourse-button button{
    background-color: #fa992a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}
.takecourse-button button:hover{
    background-color: #fff;
    color: #fa992a;
    border: 1px solid #ff8800;
}
/* Take Course End */




/* Syllabus Start */
.course-summary {
    background-color: rgb(247, 247, 247);
    padding: 30px;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    text-align: center;
    margin: auto;
    width: 30%;
}

.course-summary h2 {
    font-size: 25px;
    margin-bottom: 15px;
}

.course-summary p {
    font-size: 15px;
    margin-bottom: 20px;
}
.course-summary ul {
    margin-left: 3rem;
}
.course-summary ul li{
    list-style-type: decimal;
    padding-top: 10px;
}
details {
    margin-bottom: 15px;
    text-align: left;
}

summary {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
}

summary:hover {
    background-color: #ffd0a4;
}

p {
    font-size: 16px;
    margin-top: 10px;
    padding: 0 10px;
    color: #555;
}
.all-summary{
    text-align: center;
}
.all-summary button{
    margin-top: 1rem;
    letter-spacing: 2px;
}
/* Syllabus End */




/* Certicfication Start */
.certification-section {
    text-align: center;
    padding: 2rem;
    background-color: #f1f1f1;
    margin-top: 2rem;
}

button {
    padding: 10px 20px;
    background-color: #fa992a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.certification-section img{
    width: 20%;
    margin-top: 20px;
}
.certification-section p{
    margin: 20px;
}
button:hover {
    background-color: #fff;
    color: #fa992a;
    border: 1px solid #ff8800;
}
/* Certicfication End */



/* Footer Start */
.footer{
    background-color: #ececec;
    padding: 2rem;
    color: #000000;
    margin-top: 1px;
}
.footer-container{
    display: flex;
    justify-content: space-around;
}
.company h3{
    margin-bottom: 1rem;
}
.footer-container ul li{
    list-style-type: none;
    margin-top: 1rem;
}
.newsletter h3{
    margin-bottom: 1rem;
}
.newsletter input{
    padding: 10px;
    border: none;
    border-radius: 7px 0 0 7px;
    border: 1px solid #adadad;
}
.newsletter button{
    padding: 10px;
    border: none;
    border-radius: 0 7px 7px 0;
    border: 1px solid #adadad;
}
.footer-container h3{
    font-size: 15px;
}
.footer-container ul li, p{
    font-size: 14px;
}
.footer-icons i{
    font-size: 20px;
    margin-top: 1.5rem;
    color: #000000;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}
/* Footer End */

.copyright{
    background-color: #ececec;
    padding: 1rem 1rem;
    text-align: center;
}

